
.icon-award:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-print:before { content: '\e803'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-umbrella:before { content: '\e808'; } /* '' */
.icon-star:before { content: '\e809'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-link:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-doc:before { content: '\e80e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-meetup:before { content: '\f2e0'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */